:root {
    --primary-color: #336ca9;
    --accent2-color: #ffffff;
    --supplementary-color: #886953;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-content: center;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

header img {
    margin: 0 auto;
    border-radius: 80px;
}

header,
main,
footer {
    width: 840px;
    margin: 10px auto;
}

footer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

h1 {
    font-family: var(--heading-font);
    color: var(--supplementary-color);
}

nav,
p,
section,
article {
    margin: 16px auto;
    padding: 8px;
}

h2 {
    text-align: center;
    font-family: var(--heading-font);
}

section {
    background-color: var(--supplementary-color);
    color: var(--accent2-color);
    width: 840px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--supplementary-color);
    color: var(--accent2-color);
}

nav ul li {
    list-style-type: none;
    padding: 10px 25px;
}

a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 0;
    color: var(--accent2-color);
    background-color: var(--primary-color);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}

.hero article {
    position: absolute;
    margin: 0 auto;
    bottom: 20px;
    left: 40px;
    width: 90%;
    color: var(--accent2-color);
    background-color: #88695393;
}

.hero article img {
    width: 100px;
    float: right;
}

.li_style {
    border-left: 1px solid #333;
}

.history-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adventure-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.adventure-container img {
    width: 120px;
}

.adventure-container figcaption {
    font-size: 10px;
}

.history-section img {
    width: 250px;
}

.socialmedia {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
}

.contact-section {
    display: grid;
    grid-template: 1fr 2fr / 1fr 1fr;
}

.contact-section form {
    display: grid;
    grid-template: 40px 40px 70px 120px 30px 20px/ 1fr 2fr;
    align-items: center;
    gap: 5px;
}

.contact-section form input,
textarea,
button {
    padding: 5px;
    border-radius: 5px;
}

.contact-section form input[type="text"],
input[type="email"] {
    height: 2rem;
}

.contact-section form .newsletter,
button {
    grid-column: span 2;
    padding: 10px 5px;
}

.contact-section form .message {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
}

.contact-section form fieldset {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr 3fr;
    gap: 8px;
    border: none;
}

.contact-data {
    grid-column: span 2;
    text-align: center;
    width: 90%;
    margin: 10px auto;
    background-color: #c86b6b7d;
}

.contact-data article {
    margin: 0;
}

.contact-data p {
    margin: 0;
    padding: 0.3rem;
}

.map iframe {
    width: 400px;
    height: 400px;
}