:root {
    --primary-color: #336ca9;
    --accent1-color: #252525;
    --accent2-color: #ffffff;
    --supplementary-color: #886953;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--supplementary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 0;
    color: var(--accent2-color);
    background-color: var(--primary-color);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}

.hero article {
    position: absolute;
    margin: 0 auto;
    bottom: 20px;
    left: 40px;
    width: 90%;
    color: var(--accent2-color);
    background-color: #a07d6498;
}

.hero article img {
    width: 100px;
    float: right;
}