:root {
    --primary-color: #336ca9;
    --accent2-color: #ffffff;
    --supplementary-color: #886953;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-content: center;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

header img {
    margin: 0 auto;
    border-radius: 80px;
}

header,
main,
footer {
    width: 840px;
    margin: 10px auto;
}

footer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

h1 {
    font-family: var(--heading-font);
    color: var(--supplementary-color);
}

nav,
p,
section,
article {
    margin: 16px auto;
    padding: 8px;
}

h2 {
    text-align: center;
    font-family: var(--heading-font);
}

section {
    background-color: var(--supplementary-color);
    color: var(--accent2-color);
    width: 840px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--supplementary-color);
    color: var(--accent2-color);
}

nav ul li {
    list-style-type: none;
    padding: 10px 25px;
}

a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 0;
    color: var(--accent2-color);
    background-color: var(--primary-color);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}

.hero article {
    position: absolute;
    margin: 0 auto;
    bottom: 20px;
    left: 40px;
    width: 90%;
    color: var(--accent2-color);
    background-color: #88695393;
}

.hero article img {
    width: 100px;
    float: right;
}

.li_style {
    border-left: 1px solid #333;
}

.history-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adventure-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.adventure-container img {
    width: 120px;
}

.adventure-container figcaption {
    font-size: 10px;
}

.history-section img {
    width: 250px;
}

.socialmedia {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
}

.contact-section {
    display: grid;
    grid-template: 1fr 2fr / 1fr 1fr;
}

.contact-section form {
    display: grid;
    grid-template: 40px 40px 70px 120px 30px 20px/ 1fr 2fr;
    align-items: center;
    gap: 5px;
}

form input,
textarea,
button {
    padding: 5px;
    border-radius: 5px;
}

form input[type="text"],
input[type="email"] {
    height: 2rem;
}

.contact-section form .newsletter,
button {
    grid-column: span 2;
    padding: 10px 5px;
}

.contact-section form .message {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
}

.contact-section form fieldset {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr 3fr;
    gap: 8px;
    border: none;
}

.contact-data {
    grid-column: span 2;
    text-align: center;
    width: 90%;
    margin: 10px auto;
    background-color: #ffffa977;
}

.contact-data article {
    margin: 0;
}

.contact-data p {
    margin: 0;
    padding: 0.3rem;
}

.map iframe {
    width: 400px;
    height: 400px;
    border: none;
}

.home {
    display: grid;
    gap: 10px;
    grid-template: 279.3px 1fr 1fr 1fr 1fr / 340px 500px;
    background-color: #dda984;
}

.home p {
    padding: 0;
}

.home article,
.trips article {
    text-align: center;
    margin: 20px;
    color: #000;
    font-weight: 700;
    border-radius: 30px;
}

.home .demonstration {
    width: 100%;
    display: flex;
    justify-content: center;
    place-self: center;
}

.home .demonstration img {
    width: 90%;
    border: 4px solid var(--supplementary-color);
    border-radius: 30px;
}

.home .hero,
.categories {
    width: 840px;
    grid-column: span 2;
    margin: 0;
    padding: 0;
}

.home .categories {
    display: flex;
    flex-direction: column;
}

.home .categories h2 {
    margin-top: 10px;
}

.home .categories .trip-options {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.home .categories .trip-option {
    background-color: #dda984;
    color: #000;
    text-align: center;
    width: 200px;
    height: 210px;
    border-radius: 30px;
}

.home .categories .trip-option p,
.home .categories .trip-option h3 {
    margin: 10px;
}

.home .home-newsletter {
    display: grid;
    grid-template: 32px 32px 39px / 1fr 3fr;
    gap: 10px;
}

.home .home-newsletter label {
    text-align: right;
    margin: auto 0;
}

.trips {
    display: grid;
    grid-template: 560px 300px 500px 1fr / 280px 280px 280px;
}

.trips .hero {
    grid-column: span 3;
}

.trips .trip-types-info {
    grid-column: span 3;
    height: fit-content;
    border-radius: 0 0 30px 30px;
    padding: 10px 0;
    margin: 0;
}

.trips .trip-types-info h2,
.trips .all-trips-info h3 {
    width: fit-content;
    padding: 15px;
    margin: 30px auto;
    background-color: #dda984;
    border-radius: 30px;
}

.trips .trip-types {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.trips .trip-types figure {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100px;
}

.trips .popular-trip {
    background-color: #dda984;
    border: 4px solid var(--supplementary-color);
}

.trips .popular-trip img {
    width: 100%;
    border-radius: 30px;
    border: 4px solid var(--supplementary-color);
}

.trips .all-trips-info table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}

tr :nth-child(3) {
    text-align: center;
    width: 15%;
}

td,
th {
    border: 3px solid #333;
    padding: 5px;
}

.button {
    padding: 10px 5px;
    border-radius: 5px;
    background-color: #bfbfbf;
    border: 1px solid #000;
    font-size: small;
}