table {
    border-collapse: collapse;
    border: 2px solid #8c8c8c;
    text-align: center;
    letter-spacing: 1px;
}

thead, tfoot {
    background-color: black;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #edeef2;
}

td, th {
    padding: 10px;
    border: 1px solid #8c8c8c;
}

.header {
    font-weight: bold;
}