:root {
    --main-color: rgb(204, 255, 162);
    --contrast-color: darkblue;
    --contrast-border: 2px solid rgba(25, 11, 235, 0.2);
    --img-width: 200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    text-align: center;
}

nav a {
    color: var(--main-color);
    display: inline-block;
    margin: 20px;
}

nav ::marker {
    color: var(--main-color);
}

nav h2 {
    color: var(--contrast-color);
}

h1 {
    margin: 1rem;
    color: var(--contrast-color);
    text-align: left;
}

main img {
    width: var(--img-width);
    height: auto;
    margin: 1rem;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

main {
    max-width: 840px;
}

aside {
    max-width: 840px;
    width: 800px;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 35px;
    left: 330px;
}

aside img {
    width: var(--img-width);
    height: auto;
    margin: 1rem;
}

p {
    margin: 1rem;
    padding: 0;
    text-align: justify;
}

footer {
    margin-top: 5rem;
    border-top: 1px solid black;
    padding: 1rem;
    background-color: var(--contrast-color);
    color: var(--main-color);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: var(--contrast-border);
    padding: 1rem;
    background-color: var(--contrast-color);
    color: var(--main-color);
    clear: both;
}