:root {
    --bg-color: #642929;
    --main-text-color: #ffffff;
}

nav {
    background-color: var(--bg-color);
    padding: 10px;
}

nav a {
    color: var(--main-text-color);
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

aside {
    width: 500px;
    margin: 0 auto;
    border: 2px dashed white;
    padding: 10px 30px;
    background-color: var(--bg-color);
    color: var(--main-text-color);
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside img {
    width: 200px;
    height: auto;
    border: 1px solid white;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer {
    background-color: var(--bg-color);
    margin-top: 20px;
    border-top: 2px dashed white;
    text-align: center;
    color: var(--main-text-color);
}