/* CLASS SELECTORS */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 2px dashed white;
    background-color: var(--bg-color);
    color: var(--main-text-color);
    max-width: var(--max-width);
}

:root {
    --bg-color: #642929;
    --main-text-color: #ffffff;
    --max-width: 650px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--bg-color);
    padding: 10px;
}

nav a {
    color: var(--main-text-color);
    display: inline;
    padding: 20px;
}

main {
    margin: 1rem;
    max-width: var(--max-width);
}

aside {
    position: relative;
    width: 500px;
}

h1 {
    color: darkblue;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside img {
    width: 200px;
    height: auto;
    border: 1px solid white;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside h2 {
    position: absolute;
    font-size: 18px;
    top: 30px;
    left: 23px;
    color: #613305;
}

p {
    padding: 0;
}

li a {
    color: var(--main-text-color);
}

footer {
    background-color: var(--bg-color);
    margin-top: 20px;
    border-top: 2px dashed white;
    text-align: center;
    color: var(--main-text-color);
}