
:root {
    --bg-color: #642929;
    --main-text-color: #ffffff;
    --max-width: 650px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--bg-color);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: var(--main-text-color);
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    margin: 1rem;
    max-width: var(--max-width);
    grid-column: 2;
}

aside {
    position: relative;
    width: 230px;
    grid-row: 1/3;
}

h1 {
    color: darkblue;
    border-bottom: 3px solid #33333372;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside img {
    width: 200px;
    height: auto;
    border: 1px solid white;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside h2 {
    position: absolute;
    font-size: 18px;
    top: 30px;
    left: 23px;
    color: #613305;
}

p {
    padding: 0;
}

li a {
    color: var(--main-text-color);
}

footer {
    background-color: var(--bg-color);
    margin: 20px auto 0;
    border-top: 2px dashed white;
    text-align: center;
    color: var(--main-text-color);
}

/* CLASS SELECTORS */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 2px dashed white;
    background-color: var(--bg-color);
    color: var(--main-text-color);
    max-width: var(--max-width);
}

.grid, header, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}