.callout {
    box-sizing: border-box;
	background-color: #224477;
    max-width: 400px;
    border: 1px solid gray;
    color: white;
}

.callout img {
	float: right;
    margin: 10px;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: gray;
    padding: 3px;
}

blockquote {
    margin: 10px;
}

cite {
    border-top: 1px white dashed;
    padding-top: 10px;
    display: block;
    text-align: right;
    font-size: 12px;
}