* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
    align-content: center;
    font-size: 32px;
    background-color: #333;
    color: white;
    height: 100px;
}

h1 {
    text-align: center;
}

main {
    align-content: center;
}

img {
    display: block;
    align-self: center;
    width: 350px;
    box-shadow: 0 0 30px black;
    margin: 15px auto;
}

section {
    background-color: #ddd;
    margin: 30px auto;
    width: 350px;
    padding: 20px 20px;
}

h2 {
    display: block;
    text-align: left;
    border-bottom: 1px solid black;
}

section p {
    font-size: 14px;
    margin: 10px 0;
    font-weight: 500;
}

li {
    font-size: 14px;
    margin: 5px 0;
    font-weight: 500;
}

footer {
    text-align: center;
    align-content: center;
    font-size: 20px;
    background-color: #333;
    color: white;
    height: 100px;
}