body {
    width: 600px;
    margin: auto;
    font-family: lato, 'sans-serif';
}

header, footer {
    text-align: center;
    padding: 1px;
    background-color: #333;
    color: white;
    font-size: 1.3rem;
    margin: 10px;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 60%;
    margin: auto;
}

img {
    display: block;
    align-self: center;
    width: 100%;
    box-shadow: 0 0 30px #666;
    margin: auto;
}

section {
    background-color: #ddd;
    margin: 20px auto;
    width: 90%;
    padding: 5%;
}

h2 {
    border-bottom: 1px solid black;
}

section p {
    margin-left: 15px;
}

section ul {
    margin-left: -10px;
}

li {
    font-size: 14px;
    margin: 5px 0;
    font-weight: 500;
}

footer {
    font-size: 1rem;
}